@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirNextCyr-Demi.ttf") format("ttf"),
    url("./fonts/AvenirNextCyr-Demi.ttf") format("ttf");
  font-style: normal;
}

body {
  font-family: "Avenir", sans-serif;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .border-gradient {
    border-image-source: linear-gradient(
      141.01deg,
      #1659da 3.02%,
      #16cfda 87.39%
    );
    /* border-radius: 24px; */
    border-image-slice: 1;
    border-style: solid;
  }
}

/* Tabs component bottom bar */
.Link__StyledLink-sc-14289xe-0.IjHZA::after {
  background-color: transparent;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(
    141.01deg,
    #1659da 3.02%,
    #16cfda 87.39%
  );
  border-image-slice: 1;
}

.Dialog__StyledDialog-sc-uaxjsn-1.bobPJE {
  max-width: 100%;
  max-height: 100%;
}

.chrome-tabs.chrome-tabs-dark-theme {
  background-color: #16191d;
}

.chrome-tabs-bottom-bar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Styles for WebKit browsers (e.g., Safari, Chrome) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 167, 167);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(221, 218, 218, 0.4);
}
